body{
    
    font-family: 'Source Sans Pro', sans-serif;
}
.box-background{
    background-color: black;
}
.box-background2{
    background-color: rgb(189, 228, 250);
}
.container-login{
    background-color: rgba(207, 206, 206, 0.993);
    margin-top: 20px;
    height: 96vh;
    padding-top: 20px;
    border-radius: 3px;
}
.box-form{
    padding: 1rem 1.4rem;
    margin: 0px 7px;
    background-color: white;
    border-radius: 3px;
}
form{
    margin: 20px 10px;
    height: 58vh;
}

h1 i{
    color: rgb(95, 95, 247);
}
h4{
    background-color: black;
    color:white;
}
.box-profile{
    background-color: rgba(255, 255, 255, 0.849);
    box-shadow: 0px 2px 12px 1px #c0bdbd;
    padding: 20px;
    height: 98vh;
}
/* .photo{
    margin-left: 29%;
    margin-bottom: 20px;
} */
.box-text{
    padding: 40px;
}